html, body {
  width: 100%;
  height: 100%; }

*:focus, *:hover {
  outline: none; }

.container {
  width: 1024px;
  margin: 0px auto; }

.header {
  padding: 20px 0; }
  .header_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header_nav ul li {
      margin: 0px 7.5px; }
      .header_nav ul li::after {
        content: ' ';
        width: 1px;
        height: 20px;
        background-color: #565656;
        vertical-align: middle;
        display: inline-block;
        margin-left: 15px; }
      .header_nav ul li:last-child::after {
        width: 0; }
      .header_nav ul li a {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        vertical-align: middle;
        display: inline-block;
        color: #565656;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear; }
        .header_nav ul li a:hover {
          color: #0dd88a; }
  .header_logo {
    display: block;
    height: auto;
    margin-left: 30px; }

body {
  font-family: 'Open Sans', sans-serif; }

.main {
  padding: 30px 0;
  background: url("../img/main_bg.jpg") center no-repeat;
  background-size: cover; }
  .main_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .main_info {
    color: #fff;
    font-weight: 300; }
    .main_info_top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main_info_top h4 {
        font-weight: 300;
        margin-left: 15px;
        text-transform: uppercase;
        font-size: 21px; }
        .main_info_top h4 span {
          display: block; }
    .main_info_mid h1 {
      font-weight: 300;
      font-size: 40px;
      text-transform: uppercase;
      margin: 0; }
    .main_info_mid p {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 35px; }
    .main_info_bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main_info_bottom .cart {
        background-color: #259d8e;
        width: 55px;
        height: 40px;
        text-align: center;
        margin: 0; }
        .main_info_bottom .cart img {
          margin-top: 5px; }
      .main_info_bottom .btn {
        margin: 0;
        padding: 0px 20px;
        height: 40px;
        border: none;
        font-weight: 300;
        background-color: #54d3c3;
        -webkit-transition: .4s;
        transition: .4s;
        color: #fff; }
        .main_info_bottom .btn:hover {
          background-color: #279a8b;
          cursor: pointer; }

a {
  text-decoration: none; }

.btn {
  margin: 0;
  padding: 0px 20px;
  height: 40px;
  border: none;
  line-height: 40px;
  font-weight: 300;
  background-color: #54d3c3;
  -webkit-transition: .4s;
  transition: .4s;
  color: #fff; }

.minimal {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px; }
  .minimal h2 {
    font-size: 40px;
    color: #9f9f9f;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px; }
  .minimal p {
    color: #9f9f9f;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 30px; }

.icons .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 16%;
  flex-basis: 16%; }
  .icons .blocks .block {
    background-color: #222;
    width: calc(100%/6);
    height: 170px; }
    .icons .blocks .block-1 {
      background: #01646c url("../img/search.png") center no-repeat; }
    .icons .blocks .block-2 {
      background: #097b84 url("../img/off.png") center no-repeat; }
    .icons .blocks .block-3 {
      background: #118f99 url("../img/security.png") center no-repeat; }
    .icons .blocks .block-4 {
      background: #1da0aa url("../img/apple.png") center no-repeat; }
    .icons .blocks .block-5 {
      background: #29b7c2 url("../img/basket.png") center no-repeat; }
    .icons .blocks .block-6 {
      background: #3ccad5 url("../img/star.png") center no-repeat; }

.laptop {
  background: url("../img/main_bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 70px; }
  .laptop_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .laptop_info {
    color: #fff; }
    .laptop_info h2 {
      font-size: 40px;
      margin: 0; }
    .laptop_info p {
      margin-top: 15px;
      margin-bottom: 35px; }
    .laptop_info .btn {
      background-color: #05b39d; }
    .laptop_info .cart {
      background-color: #3edac6; }

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center; }
  footer p {
    margin: 0;
    color: #fff; }
    footer p span {
      color: #fea100; }

@media (max-width: 1050px) {
  .container {
    width: 95%; }
  img {
    max-width: 100%; } }

@media (max-width: 768px) {
  .header_flex {
    display: block; }
  .header_logo {
    text-align: center; }
  .header_nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; }
    .header_nav ul li {
      margin: 0;
      margin-top: 20px; }
      .header_nav ul li::after {
        display: none; }
      .header_nav ul li a {
        margin: 0; }
  .minimal p {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .minimal h2 {
    font-size: 32px; }
  .main_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .main_info_top {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px; }
  .main_info_bottom {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main_info_mid h1 {
    font-size: 32px; }
  .icons .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 0;
    flex-basis: 0; }
    .icons .blocks .block {
      width: 100%; }
  .laptop_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .laptop_img {
    margin-bottom: 50px; } }
